<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="box" id="login">
        <h2 style="padding-left: 20px;">使用者登入</h2>
        <p>帳號:<input v-model="username" type="text" id="account"></p> 
        <br>
        <p>密碼:<input v-model="password" type="password" id="password"></p>
        <br>
        <p style="padding-left: 100px;"><input type="button" value="登入" id="login"></p><br>
        <p class="text-wrapper">{{ test }}</p>
    </div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./src/login.js" defer></script>
</body>
</html>