/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,h2,
 h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**************************css reset**************************/
/*{
    outline: black 1px solid;
}*/
.whole{
    margin: 0 auto;
    width: 100%;

}
.tt{
    width:100%;
    position: fixed;
    position: top;
    background-color: rgb(35, 170, 163);
    
}   
.ti{
    float: right;
    margin-right: 50px;
    padding-top: 30px;
    height: 70px;
    display: flex;
    
    
}
.ti a{
    text-decoration: none;
    color:white;
}
.tb{
    height: 70px;
    width: 100px;
    text-align:center;
    line-height:70px;
    font-size: 16px;
    font-weight: bold;
    background-color:rgb(35, 170, 163); 
}
.tb a{
    color: white;
    text-decoration:none;
}
.tb:hover{
    background-color:rgb(22, 108, 104);
}

.content{
    margin-top: -30px;
    padding-top: 80px;
    margin-left: 10%;
    
}
.icon{
    width: 250px;
    height: 150px;
}
.search{
    display: flex;
    background-color:rgb(72, 172, 198); 
    width: 90%;
}
.searchbar{
    margin-top: 50px;
    margin-left: 30px;
    height: 38px;
    width: 300px;
}
.sb{
    margin-top: 53px;
    margin-left: -50px;
    height: 40px;
    width: 40px;
}
.sb:hover{
    filter:brightness(110%);
}
.suggest_row{
    font-size: 20px;
    width: fit-content;
    background-color: rgb(72, 172, 198);
    color: white;
    margin-top: -27px;
    margin-left: 280px;
}
.suggest_row a{
    color: white;
    text-decoration: none;
}
.suggest_row a:hover{
    color: black;
    text-decoration: none;
}
.cover{
    display: flex;
    margin-top: 25px;
}

.something_important{
    width: 100% auto;
    height: 180px;
    background-color: rgb(168, 168, 168);
    margin-top: 30px;
    color: rgb(88, 88, 88);
    padding-left: 150px;
    padding-top: 20px;
    white-space:normal;
}
.important_text{
    width: 1300px;
}
.important_text h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.important_text p{
    padding-left: 50px;
    font-size: 18px;
    padding-top: 10px;
}
.buttom{
    width: 100%;
    height: 380px;
    background-color: rgb(35, 170, 163);

}
.buttom_content{
    margin-left: 150px;
    display: flex;
    padding-top: 30px;
    color:white;
}
.left_buttom{
    width: 250px;
    
}
.about a{
    display: block;
    width: 150px;
    padding-top: 20px;
    color: white;
    text-decoration: none;
    font-weight:bold;
    font-size: 20px;
}
.about a:hover{
    color: rgb(184, 184, 184);
    
}
.order_title{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
}
.order_title{
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
}
.order{
   border-top: 5px solid black;
   text-align:center;
   
}
.order h1{
    font-size: 35px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    height: 200px;
    margin: 0;
    line-height: 200px;
    width: 22%;
    

}
.order p{
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    height: 200px;
    line-height: 200px;
    width: 12%;

}
.coupon{
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    height: 200px;
    line-height: 200px; 
    width: 21%;

}
.coupon select{
    width: 150px;
    height: 30px;

}
.delete_item{
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    height: 200px;
    width: 15%;

}
.order li{
    display: flex;
}
.product_img{
    display: flex;
    /* 水平置中 */
    justify-content: center;    
    /* 垂直置中 */
    align-items: center;    
    width: 30%;
    height: 200px;
    border-left: 4px black solid;
    border-right: 4px black solid;
    border-bottom: 4px black solid;


}
.order li img{
    width: 180px;
    height: 180px;
}
.order_head{
    display: flex;
}
.order_head p{
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;    
    /* 垂直置中 */
    align-items: center;
    border: #000000 solid 4px;
    border-right: #000000 solid 0px;
    border-bottom: #000000 solid 0px;

}

.total{

    border-top: 4px solid #000;
    width: 90%;
    display: flex;
}
.total h1{
    margin-top: 10px;
    font-size:40px;
    padding-left: 20px;
}

/* CSS */
.button-68 {

    background-color: #4baed8;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .button-68:hover {
    background-color: #0850a8;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
  
  .button-68:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }
  
  .button-68:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
  }

  .button-54 {
    margin-top: 5px;
    background-color:rgb(85, 188, 213) ;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    font-weight: 700;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 50px;
    width: 100px;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }

.input_count{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    height: 20px;

}