.option{
    display: flex;
}
.whole_page{

    display: flex;
    

}
.content{
    margin: auto;
    margin-top: 60px;
}
.box{
    margin: auto;
    width: 250px;
    height: 800px;
    border:5px #000000 solid;
    background-color: rgb(226, 226, 226);
    border-radius: 10px 10px 10px 10px;
}
.textbar{
    margin-left: 20px;
    width: 200px;
}
.box p{
    margin: 0;
    padding-left: 20px;
    margin-top: 30px;
}
.btn {
    color: #0099CC; 
    background: transparent; 
    border: 2px solid #0099CC;
    border-radius: 6px; 
    margin: auto;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn1 {
    text-align: center;
    margin-left: 25px;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    width: 200px;   
    margin-top: 20px;
}
.btn1:hover {
    background-color: #008CBA;
    color: white;
}
.login{
    color: black;
    text-decoration: none;
}
.login:hover{
    color: rgb(28, 136, 100);
}
.icon{
    display: block;
    width: 260px;
    height: 150px;
    border-radius: 10px 10px 10px 10px;

}














.wrapper{
    display: inline-flex;
    height: 30px;
    width: 220px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
  }
  .wrapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
  }
  .wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  }
  .wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  input[type="radio"]{
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border-color: #0069d9;
    background: #0069d9;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    font-size: 15px;
    color: black;
    font-weight:bold;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #fff;

  }
