/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,h2,
 h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**************************css reset**************************/
/*{
    outline: black 1px solid;
}*/
.whole{
    margin: 0 auto;
    width: 100%;

}
.tt{
    width:100%;
    position: fixed;
    position: top;
    background-color: rgb(35, 170, 163);
    
    
}   
.ti{
    float: right;
    margin-right: 50px;
    padding-top: 30px;
    height: 70px;
    display: flex;
    
    
}
.ti a{
    text-decoration: none;
    color:white;
}
.tb{
    height: 70px;
    width: 100px;
    text-align:center;
    line-height:70px;
    font-size: 16px;
    font-weight: bold;
    background-color:rgb(35, 170, 163); 
}
.tb a{
    color: white;
    text-decoration:none;
}
.tb:hover{
    background-color:rgb(22, 108, 104);
}

.content{
    margin-top: -30px;
    padding-top: 80px;
    margin-left: 10%;
    
}
.icon{
    width: 250px;
    height: 150px;
}
.search{
    display: flex;
    background-color:rgb(72, 172, 198); 
    width: 90%;
}
.searchbar{
    margin-top: 50px;
    margin-left: 30px;
    height: 38px;
    width: 300px;
}
.sb{
    margin-top: 53px;
    margin-left: -50px;
    height: 40px;
    width: 40px;
}
.sb:hover{
    filter:brightness(110%);
}

.something_important{
    width: 100% auto;
    height: 180px;
    background-color: rgb(168, 168, 168);
    margin-top: 30px;
    color: rgb(88, 88, 88);
    padding-left: 150px;
    padding-top: 20px;
    white-space:normal;
}
.important_text{
    width: 1300px;
}
.important_text h2{
    font-size: 30px;
    margin-bottom: 10px;
}

.important_text p{
    padding-left: 50px;
    font-size: 18px;
    padding-top: 10px;
}
.buttom{
    width: 100%;
    height: 380px;
    background-color: rgb(35, 170, 163);

}
.buttom_content{
    margin-left: 150px;
    display: flex;
    padding-top: 30px;
    color:white;
}
.left_buttom{
    width: 250px;
    
}
.about a{
    display: block;
    width: 150px;
    padding-top: 20px;
    color: white;
    text-decoration: none;
    font-weight:bold;
    font-size: 20px;
}
.about a:hover{
    color: rgb(184, 184, 184);
    
}
.order_title{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
}
.order_title{
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
}
.order{
    border-top: 5px solid black;
}
.order li{
    display: flex;
}
.order li img{
    width: 150px;
    height: 150px;
}

.product{
    margin-top: 60px;
    display: flex;
    width: 90%;
    background-color: rgb(235, 240, 240);
    border-radius: 10px 10px 10px 10px;
    
}
.product img{
    width: 400px;
    height: 400px;
}
.product_des{
    margin-left: 30px;
    width: 60%;
    height: 350px;
}
.product_des p{
    font-size: 20px;
}
.product_price{
    font-size: 25px;
    color: brown;
    border-bottom: 5px solid rgb(134, 192, 199);
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.button_row{
    
    margin-top:5%;
    display: flex;
    bottom: 0px;
}
/* CSS */
.button-68 {

  background-color: #4baed8;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #0850a8;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.cover{
    display: flex;
    margin-top: 25px;
}

.left_list{
    margin-left: 30px;
    border:5px rgb(93, 93, 93) solid;
    border-right:0px rgb(72, 172, 198) solid;
    border-radius: 10px 0px 0px 10px;
    width: 200px;
    height: 600px;
    font-size: 20px;
    text-align: center;
    background-color: gainsboro;
}
.left_list a{
    display: block;
    padding-top: 15px;
    text-decoration:dotted;
    padding-left: 25%;
    text-align: left;
    color: black;
    font-weight: bold;
    width: 120px;
}
.left_list a:hover{
    color:rgb(255, 255, 255);
    background-color: black;
    padding-bottom: 10px;
    margin-top: 5px;
}

.right_data{
    height: 600px;
    border:5px rgb(93,93,93) solid;
    width: 70%;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    background-color: rgb(238, 238, 238);
    text-align: center;
    font-size: 20px;
    padding-top: 0px;
    align-items: center;
}
.flex{
    display: flex;
    margin-top: 50px;
}
.right_data_title{
    width: 30%;
}
.right_data_title p{
    padding-bottom: 30px;
    text-align: left;
    padding-left: 20%;
    font-weight:bolder;

}
.right_data_content input{
    text-align: left;
    font-weight:bolder;
    height: 20px;
    display: block;
    margin-top: 23px;
}
.right_data_content select{
    text-align: left;
    font-weight:bolder;
    height: 30px;
    width: 150px;
    display: block;
    margin-top: 23px;
}
.right_data_content button{
    margin-top: 50px;
    width: 100px;
    height: 50px;
}
.left{
    margin-top: 20px;
    width: 300px;
    text-align: left;
    margin-left:55px
}
.left button{
    margin-top: 40px;
    margin-left: 0px;
}

.button-40 {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .button-40:hover {
    background-color: #374151;
  }
  
  .button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
    .button-40 {
      padding: .75rem 1.5rem;
    }
  }

  .right_data2{
    height: 300px;
    border:5px rgb(93,93,93) solid;
    width: 70%;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    background-color: rgb(238, 238, 238);
    text-align: center;
    font-size: 20px;
    padding-top: 0px;
    align-items: center;
  }
  .left_list2{

    margin-left: 30px;
    border:5px rgb(93, 93, 93) solid;
    border-right:0px rgb(72, 172, 198) solid;
    border-radius: 10px 0px 0px 10px;
    width: 200px;
    height: 300px;
    font-size: 20px;
    text-align: center;
    background-color: gainsboro;
}
.left_list2 a{
    display: block;
    padding-top: 15px;
    text-decoration:dotted;
    padding-left: 25%;
    text-align: left;
    color: black;
    font-weight: bold;
    width: 120px;
}
.left_list2 a:hover{
    color:rgb(255, 255, 255);
    background-color: black;
    padding-bottom: 10px;
    margin-top: 5px;
}