{% extends 'base.html' %}
{% load static %}
{% block title%} {{product.nickname|default:'找不到雞雞'}}{% endblock %}
{% block content %}
<div class = 'container' align = center>
{% if product %}
<table>
    <tr><td align =center><h3>{{ product.nickname}}</h3></td></tr>
    <tr><td align = center>{{ product.description}}</td></tr>
    <tr><td align = center>西元{{ product.year}}年的雞雞</td></tr>
    <tr><td align = center>售價: NT${{ product.price}}元</td></tr>
    <img src = '{% static ""%}images/dick_{{product.id}}.png'>
</table>
{% else %}
<h2>沒有雞雞 笑死</h2>
{% endif %}
</div>
{% endblock %}