{% extends 'base.html' %}
{% block title%} 小雞雞 {% endblock %}
{% block content %}
<div class = 'container' align = center>
<!-- 放要呈現的內容 -->
{% for p in products %}
{% if forloop.first %}
<table>
    <tr bgcolor = '#cccccc'>
        <td width=250>庫存雞雞</td>
        <td width=150>品牌/型號</td>
        <td width=50>出場時間</td>
        <td>價格</td></tr>
{% endif %}
    <tr bgcolo = '{% cycle '#ffccff' 'ccffcc' %}'>
        <td><a href = '{% url  'detail-url' p.id %}'>{{p.nickname}}</a></td>
        <td>{{p.pmodel.maker.name}}/{{p.pmodel}}</td>
        <td>{{p.year}}</td>
        <td align = right>{{p.price}}</td>
    </tr>
{% if forloop.last %}
</table>
{% endif %}
{% empty %}
<h3>目前沒有雞雞好看,SoRry</h3>
{% endfor %}
</div>
{% endblock %}